body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
}